---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="main-contacte">
    <section class="intro-contacte">
        <p>
            Si tens alguna pregunta sobre la restauració de violins antics, vols més informació sobre el nostre procés de treball o simplement compartir la història del teu instrument, estarem encantats d’escoltar-te. Cada violí té una ànima i una trajectòria única, i ens apassiona poder ajudar-te a preservar-la amb la màxima cura i dedicació.
        </p>
        <p>
            No dubtis a posar-te en contacte amb nosaltres per correu electrònic, telèfon o visitant el nostre taller a Vacarisses. Estem aquí per resoldre els teus dubtes, assessorar-te en el que necessitis i oferir-te un servei personalitzat per al teu instrument. Ens encantaria conèixer la teva història i ajudar-te a recuperar la sonoritat i la bellesa del teu violí.
        </p>
    </section>
    <section class="contact-section">
        <div class="contact-item">
          <h2>Telèfon</h2>
          <p>+34 123 456 789</p>
        </div>
        <div class="contact-item">
          <h2>Correu electrònic</h2>
          <a href="mailto:info@tallersayas.com">info@tallersayas.com</a>
        </div>
        <div class="contact-item">
          <h2>Ubicació</h2>
          <div class="location">
            <p>Carrer Example, 123</p>
            <p>08233 Vacarisses</p>
            <p>Barcelona, Catalunya</p>
          </div>
        </div>
        <div class="contact-item social-media">
          <h2>Xarxes socials</h2>
          <div class="social-links">
            <a
              href="https://instagram.com/tallersayas"
              target="_blank"
              rel="noopener noreferrer"
              class="social-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                ></path></svg
              >
              <span>Instagram</span>
            </a>
            <a
              href="https://facebook.com/tallersayas"
              target="_blank"
              rel="noopener noreferrer"
              class="social-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                ></path></svg
              >
              <span>Facebook</span>
            </a>
            <a
              href="https://twitter.com/tallersayas"
              target="_blank"
              rel="noopener noreferrer"
              class="social-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                ></path></svg
              >
              <span>Twitter</span>
            </a>
          </div>
        </div>
    </section>
  </main>
</MainLayout>

<style>
  main.main-contacte {
    margin: auto;
    background-color: #683703;
    padding: 40px 15%;
  }
  .intro-contacte {
    background-color: #683703;
    ;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
  }
  .contact-section {
    background-color: #683703;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
  .contact-item {
    padding: 60px;
    justify-self: center;
    align-self: center;
    color: white;
  }
  .contact-item a {
    text-decoration: none;
    color: white;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-links a {
    padding: 10px 0px;
  }

  @media (max-width: 768px) {
    main.main-contacte {
      padding: 40px 5%;
    }
    .contact-section {
      grid-template-columns: 1fr;
    }

  }

</style>
